//= Color
$black: #444;
$charcoal-black: #000;
$white: #e8e8e8;
$mily-white: #fff;
$red: #c72020;

$primary: $red;
$secondary: #9C175F;
$danger: #F279C2;
$info: #BF61C7;
$warning: #C77561;
$success: #C7A4A4;

//= Font
$base-font-size: 16px;
$base-line-height: 1.4;
$arial: Arial, Helvetica, sans-serif;
$arial-black: "Arial Black", Helvetica, sans-serif;
$inter: "Inter", $arial;
$base-sans-serif-font: $inter;

//= Container
$base-max-width: 1200px;
$base-min-width: 375px;
$gutter-width: 30px;

$base-border-radius: 8px;